<!DOCTYPE html>
<html lang="en">
<head>
    {% include "style.html" %}
</head>
<body>

    {% include "header.html" %}
    <div class="about-us-container">
        <div class="about-us-box">
            <div class="about-title">How DevMarket Collects Data</div>
            <div class="new-line-div">DevMarket diligently gathers its comprehensive listing data on a daily basis from seek.co.nz, a prominent source in the professional landscape. Each listing within our repository encompasses details such as geographical region, associated company, and the date of listing. Notably, certain listings provide additional insights with salary information and suburb details. A current or active listing means a listing is currently listed on seek.co.nz.

                Each listing undergoes a rigorous analysis, scanning for pertinent keywords that highlight the mention of programming languages, relevant technologies, or frameworks. This process is conducted with a purpose - to empower developers by identifying and presenting the most sought-after technology stacks. This invaluable information equips developers with the knowledge needed to navigate the dynamic industry landscape and stay ahead in the competitive market. At DevMarket, we are committed to delivering precise and actionable insights that enable professionals to make informed decisions and excel in their careers.
            </div>
            <div class="about-title">Designed and Created by</div>
         <div class="new-line-div">James Pirie & Tim Sinyakov
            </div>

        </div>
    </div>

</body>
</html>