    <div class="gradient-info-bar">
        <div class="text-container">

            <div class="text-item">
                <div>Average Salary</div>
                {{ average_salary }}</div>

            <div class="separator"></div>

            <div class="text-item center-text">
                <div>Biggest Employer</div>
                {{ biggest_employer }}
            </div>

            <div class="separator"></div>

            <div class="text-item">
                <div>Number of Listings</div>
                {{ current_listings }} active
            </div>
        </div>
    </div>